body, html {
    margin: 50px 0 0 0;
    background: #f3f3f3;
}

.snippet-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.container {
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
  }

  .submit-form > input {
    width: 60%;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 5px;
    display: block;
  }

  .submit-button,
  .register-button,
  .guest-button {
    font-family: sans-serif;
    background-color: rgb(180, 66, 66);
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100px;
  }

  .submit-button:hover,
  .register-button:hover,
  .guest-button:hover {
    background-color: rgb(87, 32, 32);
  }

  .guest-p {
    margin-top: 8rem;
  }

  .guest-button {
    width: 200px;
  }

  .snippet-text {
    width: 70%;
    height: 120px;
  }

  .snippet-lower {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .snippet-upper {
    position: relative;
    background-color: #1a1919;
    padding-left: 10px;
    padding-top: 10px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }

  .snippet-upper>p {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-family: Verdana;
    letter-spacing: 1px;
  }

  .author-text {
    margin-right: 30px;
  }

  .remove-icon {
    color: rgb(230, 230, 230);
    position: absolute;
    right: 15px;
  }

  .edit-icon {
    color: rgb(230, 230, 230);
    position: absolute;
    right: 50px;
  }

  .remove-icon:hover, .edit-icon:hover {
    color: rgb(180, 66, 66);
    cursor: pointer;
  }


  