{{#if flash }}
<div class="alert alert-{{flash.type}}">
  {{flash.message}}
</div>
{{/if}}
<style>
  .alert {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
</style>