<header>
  <nav class="navbar">
    <ul class="nav-list">
      <li>
        <a href="#">CRUD APP</a>
      </li>
      <li>
        <a href="./">HOME</a>
      </li>
      <li>
        <a href="./snippets/">SNIPPETS</a>
      </li>
      {{#if loggedIn }}
      <li>
        <a href="./user/logout">LOG OUT</a>
      </li>
      {{else}}
      <li>
        <a href="./user/">LOG IN</a>
        {{/if}}
      </li>
    </ul>
  </nav>
</header>
<style>
  .navbar {
    height: 100px;
    width: 100%;
    background-color: #1a1919;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .nav-list {
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  .nav-list a,
  .portfolio-list a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-family: Verdana;
    text-transform: uppercase;
    line-height: 60px;
    padding: 1rem;
    letter-spacing: 3px;
  }

  .nav-list a:hover,
  .subheading a:hover,
  .portfolio-list a:hover {
    color: #cfcc1d;
  }

  .nav-list li:first-child {
    position: absolute;
    left: 10px;
  }

  .nav-list li:last-child {
    position: absolute;
    right: 50px;
  }
</style>