<header>
  <nav class="navbar">
      <ul class="nav-list">
        <li><a href="#serv">CREATE</a></li>
        <li><a href="/portfolio.html">READ</a></li>
        <li><a href="/contact.html">UPDATE</a></li>
        <li><a href="/about.html">DELETE</a></li>
        <li><a href="/about.html">LOG IN</a></li>
      </ul>
  </nav>
</header>
<style>
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-list {
  padding-left: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.nav-list a, .portfolio-list a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-family: Verdana;
  text-transform: uppercase;
  line-height: 1.6;
  padding: 1rem;
  letter-spacing: 3px;
}

.nav-list li:last-child {
  position: absolute;
  right: 0;
  width: 15%;
}

.nav-list a:hover, .subheading a:hover, .portfolio-list a:hover {
  text-decoration: none;
  color: #cfcc1d;
}
</style>