<div class="snippet-container">
<h1>New Snippet</h1>
<form method="post" action="./snippets/create">
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title" autofocus="autofocus" />
    <textarea type="text" class="form-control" name="text" placeholder="Snippet-text"></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create new Snippet</button>
</form>
</div>
<style>
input[type="text"] {
  margin-bottom: 10px;
}
</style>