<div class="container">
  <form class="submit-form" method="post" action="./user">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="submit-button">Login</button>
  </form>
  <p>Not signed up?</p><a href="./user/register">Register here.</a>
  </form>
  <form>
    <p class="guest-p">Well.. If you really want to you can continue as a <a href="./snippets">guest.</a></p></button>
  </form>
</div>