<div class="container">
  <h3>Do you want to logout?</h3>
  <form class="submit-form" method="post" action="./user/logout/ok">
    <button class="submit-button">LOGOUT</button>
  </form>
  <p>Go <a href="./">back</a> to home page.</p></a>
</div>