<form class="login-form">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <button class="login-button">Login</button>
  <p>Not signed up? Register here</p>
  <button class="register-button">Register</button>'
  <p class="guest-p">Well.... If you really want to you can continue as a guest.</p>
  <button class="guest-button">Continue as a guest</button>
</form>