<div class="container">
  <h2>Register down below with your username and password.</h2>
  <form class="submit-form" method="post" action="./user/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="submit-button">Register</button>
    </form>
  <p>Go <a href="./user">back</a> to login page</p></a>
</div>