<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <title>1DV026 - Just Task It!</title>
</head>

<body>
    {{>header}}
    <main role="main" class="container">
      {{>flash}}
    </main>
</body>
</html>
